################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/DIP-MDI/.vs/DIP Ver BE/v16/Browse.VC.opendb
